/* RESET STYLE */
@import url('https://fonts.cdnfonts.com/css/whitney-2');

:root {
    font-family: "Whitney", ‘Helvetica Neue’, Helvetica, Arial, sans-serif;
    font-size: 25px;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Header Style */
nav{
    background-color: rgb(206, 131, 33);
    font-size: 20px;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.info-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    display: flex;
    list-style: none;
    padding-left: 0;
}

li{
    padding-right: 20px;
}

a{
    text-decoration: none;
}

a:visited{
    color: rgb(255, 255, 255);
}

a:hover{
    color: dimgray;
}

.image-logo img{
    width: 100px;
}

.white{
    color: white;
}

/* Main Style */
.row{
    display: flex;
    justify-content: space-between;
    align-items:center;
    gap: 20px;
}

.mt{
    margin-top: 30px;
}

.col{
    width: calc(100% / 3);
    min-height: 700px;
    position: relative;
}

.heart{
    position: absolute;
    top: 10px;
    right: 0;
    background-color: white;
    padding: 10px;
}

.heart:hover{
    color: red;
    cursor: pointer;
}

.col img{
    width: 450px;
}

.image1{
    background-image: url(../img/1.webp);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

.image2{
    background-image: url(../img/2.webp);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

.image3{
    background-image: url(../img/3.webp);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

.image4{
    background-image: url(../img/4.webp);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

.image5{
    background-image: url(../img/5.webp);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

.image6{
    background-image: url(../img/6.webp);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

.image1:hover{
    background-image: url(../img/1b.webp);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

.image2:hover{
    background-image: url(../img/2b.webp);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

.image3:hover{
    background-image: url(../img/3b.webp);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

.image4:hover{
    background-image: url(../img/4b.webp);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

.image5:hover{
    background-image: url(../img/5b.webp);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

.image6:hover{
    background-image: url(../img/6b.webp);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

.info-dress{
    flex-basis: 33%;
}

.text-left{
    text-align: left;
}

#brand{
    font-size: 17px;
}

#fit-dress{
    font-weight: bold;
}

#discount{
    color: red;
    font-size: 17px;
    font-weight: bold;
}

.no-discount{
    color: black;
    font-size: 17px;
    font-weight: bold;
    text-decoration: line-through;
}

.text-dec-none{
    text-decoration: none;
    font-size: 17px;
    color: red;
    font-weight: bold;
}


.label{
    position: absolute;
    bottom: 20px;
    left: 0;
    background-color: red;
    padding: 5px 10px;
    font-size: 17px;
    color: white;
}

.label-eco{
    position: absolute;
    bottom: 20px;
    left: 65px;
    background-color: green;
    padding: 5px 10px;
    font-size: 17px;
    color: white;
}

.label-left{
    left: 0;
}

/* Footer Style */

footer{
    background-color: rgb(48, 48, 48);
    width: 100%;
    min-height: 100px;
    font-size: 15px;
}

.col-foot{
    flex-basis: 50%;
}

.text-right{
    text-align: right;
}

.height-all{
    height: 100px;
}

.col-foot > div{
    margin-bottom: 10px;
}

#srl{
    font-size: 18px;
    font-weight: bold;
}

#socials span{
    padding: 0 5px;
}













