/* RESET STYLE */
@import url('https://fonts.cdnfonts.com/css/whitney-2');

:root {
    font-family: "Whitney", ‘Helvetica Neue’, Helvetica, Arial, sans-serif;
    font-size: 25px;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Header Style */
nav{
    background-color: rgb(206, 131, 33);
    font-size: 15px;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.info-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    display: flex;
    list-style: none;
    padding-left: 0;
}

li{
    padding-right: 20px;
}

a{
    text-decoration: none;
}

a:visited{
    color: rgb(255, 255, 255);
}

.image-logo img{
    width: 100px;
}

.white{
    color: white;
}

/* Main Style */
.row{
    display: flex;
    gap: 10px;
    margin-top: 30px;
}

.col{
    flex-basis: 33%;
    gap: 5px;

    /* Debug */
    /* background-color: gray;
    min-height: 100px;   */
}

.col img{
    width: 450px;
}








